# Environment variables
.env
.env.local
**/.env
**/.env.local

# Dependencies
node_modules/
**/node_modules/

# Build output
dist/
**/dist/
build/

# Vercel
.vercel

# Editor
.vscode/
*.log

# Rác hệ điều hành / công cụ
desktop.ini
Thumbs.db
.DS_Store
*.timestamp-*.mjs